* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    background: #f4eddc;
    color: #382215;
}

header {
    background-color: #8b4c9e;
    color: white;
    padding: 20px;
    text-align: center;
}

nav {
    position: absolute; /*Met Kelly haar hulp*/
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;

    translate: 0% -100%;
    transition: translate .3s;

    background-color: #e891c8;
}

header button {
    position: relative;
    width: 50px;
    z-index:150;

    color: white;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

nav ul {
    top: 0;
    left: 0;
}

nav.open { /*Hiermee schuift het menu in beeld*/
    translate: 0% 0%;
}

nav a {
    text-decoration: none;
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 2fr)); /*dit aan chatgpt gevraagd*/
    gap: 20px;
    padding: 30px;
}

.card {
    text-decoration: none;
    background-color: white;
    border-radius: 10px;
    display: block;
    overflow: hidden; /*Zo blijft de afbeelding binnen de kaart*/
}

.card-content {
    padding: 15px;
}

.card:hover { /*gevraagd aan chatgpt*/
    box-shadow: 0 0 20px #8b4c9e;
    /*Had eerste de transition en tranform hier gezet, maar daardoor ging het hele kaartje naar voren, inplaats alleen de foto*/
}

.card img {
    width: 100%;
    height: 160px;
    object-fit: cover;
    border-radius: 10px;
}

.card:hover img {
    transition: transform 0.3s ease;
    transform: scale(1.05); /*Klein beetje inzoomen*/
}

.card:nth-child(1) {
    background-color: #8b4c9e;
    color: white;
}

.card:nth-child(2) {
    background-color: #e891c8;
    color: #2d1b3d;
}

.card:nth-child(3) {
    background-color: #a65bb5;
    color: white;
}

.card:nth-child(4) {
    background-color: #ffc4e8;
    color: #5d2d6e;
}

.card:nth-child(5) {
    background-color: #8b4c9e;
    color: white;
}

.card:nth-child(6) {
    background-color: #e891c8;
    color: #2d1b3d;
}

.card:nth-child(7) {
    background-color: #a65bb5;
    color: white;
}