* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    background: #f4eddc;
    color: #382215;
}

header {
    background-color: #8b4c9e;
    color: white;
    padding: 20px;
    
    display: flex;
    align-items: center;

    position: relative;
}

nav {
    position: fixed; /*Met Kelly haar hulp*/
    /* inset: 0; */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
    align-items: center;

    translate: 0% -100%;
    transition: translate .3s;

    background-color: #e891c8;
}

header button {
    position: absolute;
    left: 20px;
    width: 50px;
    z-index: 250;

    color: white;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

header h1 {
    flex-grow: 1;
    text-align: center;
}

nav ul {
    top: 0;
    left: 0;
}

nav li {
    padding: 5px;
    font-size: 20px;
}

nav.open { /*Hiermee schuift het menu in beeld*/
    translate: 0% 0%;
    z-index: 200;
}

nav a {
    text-decoration: none;
}

.grid {
    display: grid;
    gap: 20px;
    padding: 30px;

    grid-template-columns: 1fr;
}

@media (min-width: 580px) {
    .grid {
        grid-template-columns: repeat(1, 300px);
        justify-content: center;
    }
}

@media (min-width: 800px) {
    .grid {
        grid-template-columns: repeat(2, 300px);
        justify-content: center;
    }
}

@media (min-width: 1200px) {
    .grid {
        grid-template-columns: repeat(3, 300px);
        justify-content: center;
    }
}

.card {
    text-decoration: none;
    background-color: white;
    border-radius: 10px;
    display: block;
    overflow: hidden; /*Zo blijft de afbeelding binnen de kaart*/
}

.card-content {
    padding: 15px;
}

.card:hover { /*gevraagd aan chatgpt*/
    box-shadow: 0 0 20px #8b4c9e;
    /*Had eerste de transition en tranform hier gezet, maar daardoor ging het hele kaartje naar voren, inplaats alleen de foto*/
}

.card img {
    width: 100%;
    height: 160px;
    object-fit: cover;
    border-radius: 10px;
    transition: transform 0.3s ease;
}

.card:hover img {
    transform: scale(1.05); /*Klein beetje inzoomen*/
}

.card:nth-child(1) {
    background-color: #8b4c9e;
    color: white;
}

.card:nth-child(2) {
    background-color: #e891c8;
    color: #2d1b3d;
}

.card:nth-child(3) {
    background-color: #a65bb5;
    color: white;
}

.card:nth-child(4) {
    background-color: #ffc4e8;
    color: #5d2d6e;
}

.card:nth-child(5) {
    background-color: #8b4c9e;
    color: white;
}

.card:nth-child(6) {
    background-color: #e891c8;
    color: #2d1b3d;
}

.card:nth-child(7) {
    background-color: #a65bb5;
    color: white;
}

.person {
    display: flex;
    align-items: center;
    gap: 20px;
    margin: 20px;
}

.person img {
    width: 180px;
    border-radius: 50%;
    filter: grayscale(100%);
}

.lecture-info {
    font-size: 1.3rem;
}

.article-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

.article {
    width: 100%;
    max-width: 800px;
    padding: 30px;
    background-color: white;
    border-radius: 20px;
    box-shadow: 0 4px 5px;
}

details summary {
    cursor: pointer;
}

.article h2 {
    /* margin-top: 40px; */
    margin-bottom: 15px;
}

.article p {
    margin-bottom: 20px;
}

.article img {
    /* width: 100%; */
    margin: 30px;
}

.article q {
    font-style: italic;
}